.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 108px;
}

.footer__logo {
  width: 105px;
  height: 39px;
  display: flex;
}

.footer__social-heading {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: end;
  margin: 0;
}

.footer__list {
  margin: 20px 0 0;
  padding: 0;
}

.footer__list-item {
  margin: 0 0 16px;
  list-style: none;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__social-link {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin: 0;
}
