.form {
  max-width: 385px;
}
.form__fieldset {
  padding: 0;
  border-width: 0;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 8px 0 32px;
  height: 60px;
  padding: 0;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 32px;
  border-style: solid;
  transition: 0.3s;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  margin: 0 12px;
  padding: 0;
  width: 20px;
  height: 20px;
}
